# Only work with .env file till now
version: '3'

services:
  wp:
    container_name: ${WEBNAME}_wp
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    ports:
      - "80" # change ip if required
    volumes:
      - ./config/php.conf.ini:/usr/local/etc/php/conf.d/conf.ini
      - ./wp-app:/var/www/html # Full wordpress project
      #- ./plugin-name/trunk/:/var/www/html/wp-content/plugins/plugin-name # Plugin development
      #- ./theme-name/trunk/:/var/www/html/wp-content/themes/theme-name # Theme development
    environment:
      WORDPRESS_DB_HOST: "${DB_HOST}"
      WORDPRESS_DB_NAME: "${DB_NAME}"
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: "${DB_ROOT_PASSWORD}"
    depends_on:
      - db
    links:
      - db
    networks:
      - digituts_network
      - npm
      
  wpcli:
    container_name: ${WEBNAME}_wp_cli
    image: wordpress:cli
    command: tail -f /dev/null
    volumes:
      - ./config/php.conf.ini:/usr/local/etc/php/conf.d/conf.ini
      - ./wp-app:/var/www/html
    environment:
      WORDPRESS_DB_HOST: "${DB_HOST}"
      WORDPRESS_DB_NAME: "${DB_NAME}"
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: "${DB_ROOT_PASSWORD}"
    depends_on:
      - db
      - wp
    networks:
      - digituts_network

  pma:
    container_name: ${WEBNAME}_wp_pma
    image: phpmyadmin/phpmyadmin
    environment:
      # https://docs.phpmyadmin.net/en/latest/setup.html#docker-environment-variables
      PMA_HOST: db
      # PMA_PORT: "${PMA_PORT}"
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      UPLOAD_LIMIT: 50M
    ports:
      - "3307"
    links:
      - db:db
    networks:
      - digituts_network
      - npm

  db:
    container_name: ${DB_HOST}
    image: mariadb:latest # https://hub.docker.com/_/mysql/ - or mariadb https://hub.docker.com/_/mariadb
    ports:
      # - ${IP}:3306:3306 # change ip if required
      - "3306"
    command: [
        '--character-set-server=utf8mb4',
        '--collation-server=utf8mb4_unicode_ci',
        '--innodb-buffer-pool-size=50M'
    ]
    ulimits:
            nproc: 65535
            nofile:
                soft: 20000
                hard: 40000
    volumes:
      - ./wp-data:/docker-entrypoint-initdb.d
      - digituts_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: "${DB_NAME}"
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
    networks:
      - digituts_network

networks:
  digituts_network:
    name: digituts_network
  npm:
    name: nginxproxyman
    external: true
    
volumes:
  digituts_data:
